doctype html
html
  head
    title= title	
    link(rel='stylesheet', href='/css/jquery-jvectormap-2.0.3.css', media='screen')
    link(rel='stylesheet', href='/css/style.css')
  body
    h1(style='text-align: center') #{title} 
       sub #{subtitle}
    ul
        li
            a(href='https://azure.microsoft.com/en-us/services/documentdb/') Azure DocumentDB
        li
            a(href='https://portal.azure.com') Azure portal			
        li
            a(href='/readme') Readme
    div(class='mapcontainer')
        div(class='map' id='worldmap' style='width: 100%; height: 400px' )
    div(class='linechart' id='South Central US' style='width: 50%; float:left;'  )	
    div(class='linechart' id='West US' style='width: 50%; float:left;'  )
    div(class='linechart' id='East US' style='width: 50%; float:left;'  )	
    div(class='linechart' id='West US 2' style='width: 50%; float:left;')
    div(class='linechart' id='East US 2' style='width: 50%; float:left;')
	div(class='linechart' id='Central US' style='width: 50%; float:left;'  )	
    div(class='linechart' id='West Central US' style='width: 50%; float:left;')
    div(class='linechart' id='North Central US' style='width: 50%; float:left;')
	
    div(class='linechart' id='West Europe' style='width: 50%; float:left;' )
	div(class='linechart' id='North Europe' style='width: 50%; float:left;' )
	div(class='linechart' id='UK West' style='width: 50%; float:left;' )
	div(class='linechart' id='UK South' style='width: 50%; float:left;' )
	
    div(class='linechart' id='Australia East' style='width: 50%; float:left;' )
	div(class='linechart' id='Australia SouthEast' style='width: 50%; float:left;' )
	
    div(class='linechart' id='SouthEast Asia' style='width: 50%; float:left;')
    div(class='linechart' id='East Asia' style='width: 50%; float:left;')
	
    div(class='linechart' id='South India' style='width: 50%; float:left;')
	div(class='linechart' id='West India' style='width: 50%; float:left;')
	div(class='linechart' id='Central India' style='width: 50%; float:left;')
	
    div(class='linechart' id='Japan West' style='width: 50%; float:left;')
	div(class='linechart' id='Japan East' style='width: 50%; float:left;')
	
	div(class='linechart' id='Canada Central' style='width: 50%; float:left;')
	div(class='linechart' id='Canada East' style='width: 50%; float:left;')
	
	div(class='linechart' id='Korea Central' style='width: 50%; float:left;')
	div(class='linechart' id='Korea South' style='width: 50%; float:left;')
	
	
    div(class='linechart' id='Brazil South' style='width: 50%; float:left;')
        block content
        block scripts
            script(src='https://www.google.com/jsapi')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
            script(src='/js/jquery-3.1.1.min.js')
            script(src='/js/jquery-jvectormap-2.0.3.min.js')
            script(src='/js/jquery-jvectormap-world-mill.js')