doctype html
html
  head
    title= title	
    link(rel='stylesheet', href='/css/jquery-jvectormap-2.0.3.css', media='screen')
    link(rel='stylesheet', href='/css/style.css')
  body
    div(class='map' id='worldmap' style='width: 800px; height: 400px')
    div(class='linechart' id='West Europe')
    div(class='linechart' id='Australia East')
    div(class='linechart' id='SouthEast Asia')
    div(class='linechart' id='East Asia')
    div(class='linechart' id='South India')
    div(class='linechart' id='Japan West')
    div(class='linechart' id='Brazil South')
    div(class='linechart' id='South Central US')
    div(class='linechart' id='West US')
    div(class='linechart' id='East US')
        block content
        block scripts
            script(src='https://www.google.com/jsapi')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
            script(src='/js/jquery-3.1.1.min.js')
            script(src='/js/jquery-jvectormap-2.0.3.min.js')
            script(src='/js/jquery-jvectormap-world-mill.js')